// COLORS
$color-faded-blue-hover: #c9d1ee;
$color-faded-blue: #e0e4f3;
$color-mid-blue: #5175ff;
$color-light-blue: #829cff;
$color-dark-blue: #333950;
$color-very-dark-blue: #25293a;
$color-grey: #747b95;
$color-light-grey: #9797978f;
$color-orange: #f05b5b;
$color-body: #fafafa;
$color-white: #ffffff;

//FONTS
$primary-heading: 5.6rem;
$secondary-heading: 2rem;
$tertiary-heading: 1.6rem;

$body-desktop: 1.8rem;
$body-mobile: 1.6rem;
