.header__sign-up::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  top: -10px;
  background-image: url("/assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    background-image: none;
  }
}

.header {
  &__sign-up {
    padding-top: 3.5rem;

    @media screen and (min-width: 1200px) {
      padding-top: 0;
    }
  }
  &__sign__up-text-box {
    margin: 0 2.6rem;
    margin-bottom: 10rem;
    text-align: center;

    @media screen and (min-width: 760px) {
      margin-bottom: 4rem;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}

@media screen and (min-width: 760px) {
  .heading-primary-sign-up--sub {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .heading-primary-sign-up--sub {
    width: 75%;
    margin: 0;
  }
}
